.additional-title__description {
    font-family: "Cambria";
    font-size: 23px;
    background-color: #fff;
}

.additional-title__description:before {
    content: "\201C";
    display: block;
    font-family: "Arial";
    line-height: 36px;
    font-size: 101px;
    color: rgba(64, 64, 64, .22);
}

.additional-title__description:after {
    display: block;
    width: 100%;
    content: "";
    background: url("/webfolio/images/Shape.png") no-repeat center center;
    background-size: 100% 100%;
    height: 6px;
}
