.additional-title {
    position: relative;
    color: #404040;
    text-align: center;
    margin: 75px;
    z-index: 2;
}

.additional-title:after {
    content: "";
    background: url("/webfolio/images/scale.png") no-repeat center center;
    width: 105px;
    height: 85px;
    display: block;
    z-index: -1;
    position: absolute;
    top: 62%;
    left: 44%;
}