.scale__item {
    height: 10px;
    background-color: #282828;
}

.scale__item_ps {
    width:55%;
}

.scale__item_ai {
    width:80%;
}

.scale__item_bs {
    width:27%;
}

.scale__item_cs {
    width:90%;
}